{% extends "src/base.html" %}


{% block title %}My Cart{% endblock title %}

{% block content %}
<div id="main-container" class="mx-4 px-4">
	
	{% if cart.products.all %}
	<div class="grid grid-cols-5 mt-4">
		<section id="product-section" class="col-span-3 mx-4">
			<header>
				<h2 class="text-center font-bold text-lg ">Your products</h2>
			</header>
	
			<div id="products" class="container">
				{% for item in cart.products.all %}
					<div class="product-container grid grid-cols-6 my-8">

						<div class="product-img-container col-span-2 flex justify-center items-center">
							<img src="{{item.product.img.url}}" alt="{{item.product.name}} img" class="w-12 h-12">
						</div>
		
						<div class="product-info-container col-span-2">
							<h4 class="text-blue-500">
								<a href="{% url 'product' pk=item.product.pk %}">{{item.product.name|title}}</a>
							</h4>
							<p>Quantity: <span>{{item.quantity}}</span></p>
							<p class="font-semibold text-lg">{{item.total_cost}} €</p>
							<p class="text-blue-500">
								<a href="{% url 'seller-products' name=item.product.seller.name pk=item.product.seller.pk %}">{{item.product.seller.name|title}}</a>
							</p>
						</div>
		
						<div class="optns-container col-span-2 flex justify-center items-center">
							<div>
								<form action="{% url 'remove-from-cart' pk=item.product.pk %}" method="post">
									{% csrf_token %}					
									<button
										class=" bg-red-600 hover:bg-red-700 border-l text-white font-bold rounded-lg focus:ring-4 px-2 py-1"
									>
									Remove from Cart
									</button>
								</form>
							</div>
						</div>
						
		
		
					</div>
				{% endfor %}
			</div>
		
		</section>

		<section id="cart-info" class="col-span-2 ">
			<header>
				<h2 class="text-center font-bold text-lg" >Total</h2>
			</header>

			<div id="total" class="mt-4 mb-8">
				<p>Your total is: <span class="font-semibold text-lg">{{cart.total_price}} €</span></p>
			</div>

			{% include 'src/components/payment_methods.html' %}

		</section>

		<a id="go" href="{% url 'payment' %}" class="sr-only">pay</a>
	</div>
	{% else %}
	<section>
		<header class="text-center"><span class="sr-only">No items</span></header>
		<div class="flex justify-center">
			<img src="/media/defaults/empty-cart.png" alt="">
		</div>
	</section>
	{% endif %}

</div>

<script>
	const target = document.getElementById('payment-methods');
	const btns = target.querySelectorAll('button');
	[...btns].forEach((btn) => {
		btn.addEventListener('click', () => {
			const link = document.getElementById('go');
			link.click();
		})
	})
</script>


{% endblock content %}