<button
  id="dropdownUserAvatarButton"
  data-dropdown-toggle="dropdownAvatar"
  class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300"
  type="button"
>
  <span class="sr-only">Open user menu</span>
  <img
    class="w-8 h-8 rounded-full"
    src="/media/defaults/default-avatar.webp"
    alt="user photo"
  />
</button>

<!-- Dropdown menu -->
<div
  id="dropdownAvatar"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
>
  <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
    <div>{{user.username|title}}</div>
    <div class="font-medium truncate">{{user.email}}</div>
  </div>
  <ul
    class="py-2 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownUserAvatarButton"
  >

    {% if user.is_seller %}
    <li>
    <a
      href="{% url 'seller-products' name=user.seller.name pk=user.seller.pk %}"
      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-yellow-400"
      >My Products</a
    >
    </li>
    <li>
      <a
        href="#"
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >Earnings</a
      >
    </li>
    {% else %}
    <li>
    <a
      href="{% url 'become-seller' %}"
      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >Become Seller</a
    ></li>

    {% endif %}
    <li>
      <a
        href="#"
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >My orders</a
      >
    </li>

  </ul>
  <div class="py-2">
    <form action="{% url 'log-out' %}" method="post" id="log-out-form">
      {% csrf_token %}
      <span
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
      >Log out</span
    >
    </form>
    
  </div>
</div>

<script>
  document.getElementById('log-out-form').addEventListener('click', (event) => {
    event.currentTarget.submit()
  })
</script>