<nav class="max-auto px-2 py-3 bg-blue-900">
  <div
    id="inner-nav-container"
    class="grid grid-cols-5 text-lg text-white font-bold"
  >
    <section class="col-span-1 px-2">
      <header>
        <h2><a href="{% url 'home-store' %}">E Store</a></h2>
      </header>
    </section>

    <section id="p-list" class="col-span-3">
      <ul class="flex justify-evenly">
        <li class=""><a href="{% url 'add-new-food' %}">New Food Product</a></li>
        <li class=""><a href="{% url 'add-new-electro' %}">New Electronic Product</a></li>
        <li class=""><a href="{% url 'add-new-forni' %}">New Forniture Product</a></li>
      </ul>
    </section>

    <section id="auth-section" class="col-span-1">
      <ul class="grid grid-cols-2 text-center">
        {% if user.is_anonymous %}
        <li><a href="{% url 'log-in' %}">Log In</a></li>
        <li><a href="{% url 'sign-up' %}">Register</a></li>
        {% else %}
          <div class="flex justify-end">
            {% include 'src/avatar_dropdown.html' %}
          </div>
        <div>          
          <span><a href="">Cart</a></span>
        </div>
        {% endif %}
      </ul>
    </section>
  </div>
</nav>
