{% if user.id == product.seller.store_user_id %}

<section id="actions" class="mt-4 mb-8 md:mb-0">
  <header class="sr-only">Modify product</header>
  <a
    {% if product.foodproduct %}
    href="{% url 'food-update' pk=product.id %}"
    {% elif product.electronicproduct %}
    href="{% url 'electro-update' pk=product.id %}"
    {% elif product.fornitureproduct %}
    href="{% url 'forni-update' pk=product.id %}"
    {% endif %}
    class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
    >Edit</a
  >
  <a
    href="{% url 'delete-product' name=product.name pk=product.pk %}"
    class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
    >Delete</a
  >
  <a
    href=""
    class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
    >Not Available</a
  >
</section>

{% endif %}
